extends layout

block content
	h1= title
	a(href="/evaluation/new")!= "New Evaluation"
	#evaluations
		table
			thead
				tr
					th 
					
			tbody
				- each evaluation in evaluations
					tr
						td 
							ul
								- each value, key in evaluation
									li #{key}: #{value}