extends layout

block content
	h1 SENG403 - Iteration #1 - Peer Evaluation
	div
		p Your evaluation was submitted. You'll receive a confirmation email soon.
		
	p <center>If you had problems or have suggestions/questions, please send an email to fm.rodrigues@ucalgary.ca</center>