extends layout

block content
	h1 SENG 403 - Peer Evaluation
	h2 Instructions
	p You must fill the form with a letter grade assessment of each (including yourself) of your group members' contributions to the current assignment (Iteration 0) together with a 1/3 page-length description of that person's contribution justifying your assessment. <strong><u>It is not acceptable to give everyone in your group an A or to give everyone in your group an F. A report that does not reflect the dynamics of the group will be considered a failure, which could cause you to fail the course.</u></strong> It is your responsibility to get to know your group members and know their contributions to the project.
	p Why the peer evaluation? The peer evaluation is set up to prevent freeriding (a group member doing little or nothing and getting a good mark by taking advantage of the efforts of the rest of the group). It will be used as follows: The TA and instructor will use their own judgment and experience with the group as well as the input from the peer evaluations to assess a "delta mark", which will be applied to the group assignment. The delta mark will be a positive or negative letter-grade value between -4 and +1, which will be added to the group mark for each individual member.
	p Therefore, if you are the group leader, make a huge contribution to the project, your group thinks you can walk on water, and your group project is assessed as a "B", you may be assessed a delta mark of +1 -- your mark for the project will be "A". On the other hand, if you could had done better on the project, your delta mark may be -0.7, and you'd get a group mark of "C+". Furthermore, if you really didn't help much at all on the project, you'd get a delta mark of -4, you'd get a "F" for the project and you'd automatically fail the entire course. Don't let that happen. :)
	
	p If you're having problems to submit your peer evaluation or have any suggestions/questions, please send an email to fm.rodrigues@ucalgary.ca
	
	a(href="/evaluation/new")!= "Click here to start a new evaluation"